body{
    background-color: lightblue;
}

.card {
    width: 900px;
    margin: auto;
}

#header{
    background-color: white;
    text-align: center;
    color: darkslategray;
    font-size: 44px;
    font-family: "Courier New", sans-serif;
}

img.front-page-img {
    height: 300px; 
    width: auto;
    margin-top: 30px;
}

.dishes {
    text-align: center;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    width: 200px;
    margin: auto;
}

img {
    height: 400px;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
    background-color: aliceblue;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description,
li {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}